extends template 
block content
      h4="Supplier Company:"
      h3=suppliercontact.SupConCompany
      h4="Supplier Contact First Name:"
      h3=suppliercontact.SupConFirstName
      h4="Supplier Contact Last Name:"
      h3=suppliercontact.SupConLastName
      h4="Supplier Contact Business Phone Number:"
      h3=suppliercontact.SupConBusPhone
      h4="Supplier Contact Fax:"
      h3=suppliercontact.SupConFax
      h4="Supplier Contact Email:"
      h3=suppliercontact.SupConEmail
      h4="Supplier Contact Address:"
      h3=suppliercontact.SupConAddress
      h4="Supplier Contact City:"
      h3=suppliercontact.SupConCity
      h4="Supplier Contact Province:"
      h3=suppliercontact.SupConProv
      h4="Supplier Contact Postal Code:"
      h3=suppliercontact.SupConPostal
      h4="Supplier Contact Country:"
      h3=suppliercontact.SupConCountry
      h4="Supplier Contact Website:"
      h3=suppliercontact.SupConURL